{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
  <p>Kilimo High School is a prestigious institution located in the heart of the city. Founded in 1955,
     it has a long and rich history of academic excellence and student achievement. The school is renowned
      for its rigorous academic programs, dedicated faculty, and supportive learning environment. 
      Kilimo High School offers a wide range of extracurricular activities, including sports, music, 
      and drama, to help students develop their talents and interests.
       With a commitment to fostering a culture of diversity and inclusion,
        Kilimo High School is a welcoming community that celebrates the unique strengths of each and every student.</p>
</div>
<h1>Welcome to Kilimo High School!</h1>
{% endblock %}
